
# Ignore a specific file
secret.txt
DailyPractice.sln

# Ignore all .log files
*.log
*.vs
*.vs/
*.dll
*.exe
*.pdb
*.cache
*.AssemblyInfo.cs

*.json


# Ignore the node_modules directory
node_modules/

# Ignore all files in the build folder
build/

# Ignore temporary files
*.tmp
*.swp


