
# Ignore a specific file
secret.txt
DailyPractice.sln

# Ignore all .log files
bin/
obj/
*.log
*.dll
*.exe
*.pdb
*.cache
*.AssemblyInfo.cs
*.json
*.vs/



# Ignore the node_modules directory
node_modules/

# Ignore all files in the build folder
build/

# Ignore temporary files
*.tmp
*.swp


